@tailwind base;
@tailwind components;

@font-face {
  font-family: "GothamPro";
  font-style: normal;
  src: local("GothamPro"), url(./fonts/GothamPro-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamPro";
  font-style: normal;
  src: local("GothamPro"), url(./fonts/GothamPro-Medium.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "GothamPro";
  font-style: normal;
  src: local("GothamPro"), url(./fonts/GothamPro-Light.ttf) format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "GothamPro";
  font-style: normal;
  src: local("GothamPro"), url(./fonts/GothamPro.ttf) format("truetype");
  font-weight: normal;
}

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
